<div class="self-center pt-10 pl-12">
  <h1 class="p-4 name">Your Accounts</h1>
  <div class="accountCard">
    <div class="cardTitle">Github</div>
    <img class="proPic" [src]="gitHubUserData.avatar_url" />
    <div class="p-2 topInfo">
      <div class="name">{{ gitHubUserData.name }}</div>
      <div>Joined {{ githubJoined }}</div>
    </div>
    <div class="bottomInfo">
      <div>{{ gitHubUserData.email }}</div>
      <div>{{ gitHubUserData.followers }} followers</div>
    </div>
  </div>
  <!-- <h2 class="pl-5">Github</h2> -->
</div>
