<!-- <h1>{{this.profileID}}</h1> -->
<div class="flex font-serif">
  <app-sidenav
    class="pt-10"
    (navClicked)="setNavElements($event)"
  ></app-sidenav>
  <form
    [formGroup]="profileForm"
    [ngSwitch]="navElements"
    class="h-full min-h-screen w-full xl:pl-80 lg:pl-48 pb-2 bg-slate-100 grow flex-col mt-12"
  >
    <div *ngSwitchCase="'basic-info'">
      <app-basic-info-dashboard></app-basic-info-dashboard>
    </div>

    <div *ngSwitchCase="'user-accounts'">
      <!-- <app-user-accounts-dashboard formGroupName="userAccInfo"></app-user-accounts-dashboard> -->
      <div formGroupName="userAccInfo" class="self-center pt-10 pl-12">
        <h2 class="underline">User Account Info</h2>
        <div class="mb-3 xl:w-5/12">
          <!-- <label for="Full Name" class="form-label inline-block mb-2 text-gray-700">Full Name</label> -->
          <input
            formControlName="githubLink"
            type="text"
            class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
            id="exampleText0"
            placeholder="Github Profile Name"
          />
        </div>
        <div class="mb-3 xl:w-5/12">
          <!-- <label for="Full Name" class="form-label inline-block mb-2 text-gray-700">Full Name</label> -->
          <input
            formControlName="soLink"
            type="text"
            class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
            id="exampleText0"
            placeholder="Stack Overflow Profile Name"
          />
        </div>
        <div class="mb-3 xl:w-5/12">
          <!-- <label for="Full Name" class="form-label inline-block mb-2 text-gray-700">Full Name</label> -->
          <input
            formControlName="leetcodeLink"
            type="text"
            class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
            id="exampleText0"
            placeholder="Leetcode Profile Name"
          />
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'educations'">
      <app-educations-dashboard></app-educations-dashboard>
    </div>

    <div *ngSwitchCase="'experiences'">
      <app-experiences-dashboard></app-experiences-dashboard>
    </div>

    <div *ngSwitchCase="'projects'">
      <!-- <app-projects-dashboard formGroupName="basicInfo"></app-projects-dashboard> -->

      <div formGroupName="projects" class="self-center pt-10 w-5/12 pl-12">
        <h2 class="underline">Projects</h2>
        <div>
          <div class="mb-3">
            <input
              formControlName="projectTitle1"
              type="text"
              class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
              id="exampleText0"
              placeholder="Project Title"
            />
          </div>
          <div class="mb-3">
            <input
              formControlName="demovideo1"
              type="text"
              class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
              id="exampleText0"
              placeholder="Demo video URL"
            />
          </div>

          <!-- <ngx-dropzone (change)="onSelect($event)">
                              <div>
                                  <ngx-dropzone-label>Drop it, here!</ngx-dropzone-label>
                                  <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                                  <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                              </ngx-dropzone-preview>
                              </div>

                          </ngx-dropzone> -->

          <div class="my-3">
            <textarea
              formControlName="projectDescription1"
              type="text"
              class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
              id="exampleText0"
              placeholder="Project Description"
            ></textarea>
          </div>
        </div>

        <hr
          class="w-full h-1 mx-auto my-4 bg-gray-200 border-0 rounded md:my-10 dark:bg-gray-700"
        />

        <div>
          <div class="mb-3">
            <input
              formControlName="projectTitle1"
              type="text"
              class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
              id="exampleText0"
              placeholder="Project Title"
            />
          </div>
          <div class="mb-3">
            <input
              formControlName="demovideo1"
              type="text"
              class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
              id="exampleText0"
              placeholder="Demo video URL"
            />
          </div>

          <div class="my-3">
            <textarea
              formControlName="projectDescription1"
              type="text"
              class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
              id="exampleText0"
              placeholder="Project Description"
            ></textarea>
          </div>
        </div>

        <hr
          class="w-full h-1 mx-auto my-4 bg-gray-200 border-0 rounded md:my-10 dark:bg-gray-700"
        />

        <div>
          <div class="mb-3">
            <input
              formControlName="projectTitle1"
              type="text"
              class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
              id="exampleText0"
              placeholder="Project Title"
            />
          </div>
          <div class="mb-3">
            <input
              formControlName="demovideo1"
              type="text"
              class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
              id="exampleText0"
              placeholder="Demo video URL"
            />
          </div>

          <div class="my-3">
            <textarea
              formControlName="projectDescription1"
              type="text"
              class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
              id="exampleText0"
              placeholder="Project Description"
            ></textarea>
          </div>
        </div>

        <hr
          class="w-full h-1 mx-auto my-4 bg-gray-200 border-0 rounded md:my-10 dark:bg-gray-700"
        />
      </div>
    </div>
  </form>
</div>
